# ipfjes quality analysis notebook

In [1]:
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as psql
import datetime 
import numpy as np
%matplotlib inline

In [2]:
conn = pg.connect("dbname='carlplaying' user='drcjar' password='drcjar_is_not_fake'")

In [3]:
cursor = conn.cursor()
cursor.execute("select relname from pg_class where relkind='r' and relname !~ '^(pg_|sql_)';")
e = cursor.fetchall()

In [4]:
table_name_list = [i[0] for i in e]

In [5]:
select_template = 'SELECT * FROM {table_name}'
frames_dict = {}
for tname in table_name_list:
    query = select_template.format(table_name = tname)
    frames_dict[tname] = pd.read_sql(query, conn)

In [6]:
table_name_list

['axes_accessattempt',
 'axes_accesslog',
 'django_migrations',
 'django_session',
 'django_site',
 'auth_user',
 'auth_group',
 'ipfjes_allergies',
 'authtoken_token',
 'auth_user_groups',
 'auth_user_user_permissions',
 'django_admin_log',
 'ipfjes_ctandbiopsy',
 'ipfjes_demographics',
 'ipfjes_cohabitationhistory',
 'ipfjes_bloodrelationhistory',
 'ipfjes_investigation',
 'ipfjes_ipfjesethnicity',
 'ipfjes_dyspnoea',
 'ipfjes_diagnosishistory',
 'ipfjes_everencounteredasbestos',
 'ipfjes_generalnotes',
 'ipfjes_mask',
 'ipfjes_location',
 'ipfjes_smokables',
 'ipfjes_site',
 'ipfjes_scarringdrugs',
 'ipfjes_residentialhistory',
 'ipfjes_reasonforremoval',
 'ipfjes_relationship',
 'ipfjes_socjob',
 'ipfjes_soccode',
 'ipfjes_smokinghistory',
 'ipfjes_tasklocation',
 'ipfjes_symptomcomplex',
 'opal_antimicrobial',
 'opal_antimicrobial_adverse_event',
 'opal_antimicrobial_frequency',
 'opal_antimicrobial_route',
 'ipfjes_treatment',
 'opal_clinical_advice_reason_for_interaction',
 'opal_contactnumber',
 'opal_duration',
 'opal_ethnicity',
 'opal_drugroute',
 'opal_drugfreq',
 'opal_condition',
 'opal_episode',
 'opal_hospital',
 'opal_line_complication',
 'opal_line_removal_reason',
 'opal_line_site',
 'opal_line_type',
 'opal_macro',
 'opal_micro_test_c_difficile',
 'opal_inpatientadmission',
 'opal_filter',
 'opal_micro_test_csf_pcr',
 'opal_micro_test_ebv_serology',
 'opal_micro_test_hepititis_b_serology',
 'opal_micro_test_hiv',
 'opal_micro_test_leishmaniasis_pcr',
 'opal_micro_test_mcs',
 'opal_micro_test_other',
 'opal_micro_test_parasitaemia',
 'opal_micro_test_respiratory_virus_pcr',
 'opal_micro_test_serology',
 'opal_micro_test_single_igg_test',
 'opal_micro_test_single_test_pos_neg',
 'opal_micro_test_single_test_pos_neg_equiv',
 'opal_micro_test_stool_parasitology_pcr',
 'opal_micro_test_stool_pcr',
 'opal_micro_test_swab_pcr',
 'opal_micro_test_syphilis_serology',
 'opal_micro_test_viral_load',
 'opal_microbiology_organism',
 'opal_referralorganisation',
 'opal_referraltype',
 'opal_speciality',
 'opal_travel_reason',
 'opal_ward',
 'reversion_revision',
 'opal_title',
 'opal_symptom',
 'opal_synonym',
 'opal_patientrecordaccess',
 'opal_tagging',
 'opal_role',
 'opal_userprofile',
 'ipfjes_workingareatype',
 'ipfjes_asbestoslocalcontrol',
 'opal_drug',
 'opal_maritalstatus',
 'ipfjes_diagnosis',
 'ipfjes_patientconsultation',
 'auth_group_permissions',
 'auth_permission',
 'ipfjes_asbestosexposurescreening',
 'ipfjes_asbestosexposurehistory',
 'opal_patientconsultationreasonforinteraction',
 'opal_patient',
 'ipfjes_asbestoshandling',
 'ipfjes_removalreason',
 'opal_destination',
 'opal_userprofile_roles',
 'ipfjes_occupationalhistory',
 'ipfjes_birthplace',
 'django_content_type',
 'reversion_version',
 'opal_gender',
 'ipfjes_symptomcomplex_symptoms',
 'ipfjes_pastmedicalhistory',
 'ipfjes_studyparticipantdetails']

# lets identify participants who have withdrawn so we can exclude from quality checks

In [7]:
print(len(frames_dict['ipfjes_removalreason'][~frames_dict['ipfjes_removalreason'].reason_fk_id.isnull()]))

67

In [8]:
frames_dict['ipfjes_removalreason'][~frames_dict['ipfjes_removalreason'].reason_fk_id.isnull()] # participants removed

,id,created,updated,consistency_token,reason_ft,created_by_id,episode_id,reason_fk_id,updated_by_id
89,67,None,2017-10-12 16:28:53.408685+01:00,7be270bf,,None,59,3.0,4.0
90,14,None,2017-10-12 16:36:50.673188+01:00,28629739,,None,83,1.0,4.0
93,96,None,2017-10-19 10:34:33.416127+01:00,e8750282,,None,101,1.0,4.0
149,156,None,2017-11-24 10:25:04.486385+00:00,167e947b,,None,161,1.0,4.0
152,95,None,None,8f6267d9,Unknown,None,43,4.0,NaN
231,211,None,2018-01-23 18:24:33.224619+00:00,312d8e08,,None,216,1.0,4.0
252,7,None,None,carl,,None,11,2.0,NaN
253,33,None,None,10bd23bf,,None,28,1.0,NaN
265,237,None,2018-02-08 14:12:50.905425+00:00,9dccc4db,,None,242,3.0,4.0
266,242,None,2018-02-08 14:14:24.350733+00:00,d522e5d6,,None,247,3.0,4.0
267,260,None,2018-02-08 14:44:54.857991+00:00,7843013c,,None,265,1.0,4.0
442,329,None,2018-07-03 11:30:49.328257+01:00,0045a7a5,,None,334,1.0,4.0
443,453,None,2018-07-03 14:41:08.210959+01:00,11bd3d78,,None,458,1.0,3.0
451,396,None,2018-09-20 15:53:40.091760+01:00,83af76ad,,None,401,1.0,4.0
452,410,None,2018-09-20 15:54:00.837158+01:00,461558ec,,None,415,1.0,4.0
453,448,None,2018-09-20 15:54:20.123907+01:00,116e8b0e,,None,453,1.0,4.0
548,470,None,2018-08-09 12:52:39.283385+01:00,495c8348,,None,475,2.0,3.0
551,480,None,2018-08-09 13:57:11.143320+01:00,95741132,,None,485,2.0,3.0
557,483,None,2018-08-13 13:31:00.927898+01:00,07a4843d,,None,488,1.0,3.0
570,523,None,2018-08-21 14:00:35.334921+01:00,6cbdd23d,,None,528,2.0,3.0
579,608,None,2018-08-31 14:18:45.785454+01:00,fa1e9267,,None,613,1.0,3.0
580,598,None,2018-09-04 10:09:51.315392+01:00,0d4c31ba,,None,603,1.0,3.0
581,603,None,2018-09-04 10:17:52.887437+01:00,161c613e,,None,608,1.0,3.0
585,552,None,2018-09-07 10:17:32.801390+01:00,269a336f,,None,557,3.0,3.0
586,550,None,2018-09-10 08:42:52.660756+01:00,77831bd9,,None,555,3.0,3.0
591,502,None,2018-09-12 10:57:35.698360+01:00,7a8f0a86,,None,507,1.0,3.0
594,493,None,2018-09-20 15:54:41.185175+01:00,810f9a96,,None,498,1.0,4.0
595,497,None,2018-09-20 15:55:02.145749+01:00,89bd8a59,,None,502,3.0,4.0
596,538,None,2018-10-05 13:59:30.864043+01:00,88b81068,,None,543,3.0,3.0
597,622,None,2018-10-31 08:54:00.029019+00:00,8bf3e367,,None,627,3.0,3.0
...,...,...,...,...,...,...,...,...,...
707,724,None,2018-11-15 11:04:43.478937+00:00,3dd5c0e5,,None,729,1.0,3.0
723,677,None,2018-11-20 10:39:19.471362+00:00,58095df6,,None,682,3.0,3.0
735,762,None,2018-12-03 08:59:03.078721+00:00,4caa8815,,None,767,1.0,3.0
746,766,None,2019-01-15 13:48:25.395941+00:00,b17042f1,,None,771,3.0,3.0
753,668,None,2018-12-19 09:59:18.631464+00:00,39f779c1,,None,673,3.0,3.0
799,813,None,2019-02-13 11:18:22.483809+00:00,4443068d,,None,818,1.0,3.0
800,748,None,2019-02-15 13:33:49.005875+00:00,2d4d375c,,None,753,3.0,3.0
811,811,None,2019-03-04 09:22:41.169562+00:00,601fb85f,,None,816,3.0,3.0
816,832,None,2019-03-06 10:40:32.966672+00:00,40019170,,None,837,1.0,3.0
820,792,None,2019-03-12 10:57:19.416452+00:00,911c3fe4,,None,797,1.0,3.0
821,815,None,2019-03-12 11:05:44.251479+00:00,94017db7,,None,820,1.0,3.0
834,854,None,2019-03-25 11:32:43.283996+00:00,fb0f37aa,,None,859,1.0,3.0
840,863,None,2019-04-04 10:27:41.986646+01:00,97697fe2,,None,868,1.0,3.0
886,908,None,2019-06-03 14:35:43.026812+01:00,2d2e3609,,None,913,1.0,3.0
888,870,None,2019-06-04 11:05:49.205458+01:00,9080280b,,None,875,1.0,3.0
891,857,None,2019-06-05 11:28:26.850378+01:00,091637f9,,None,862,1.0,3.0
893,865,None,2019-06-12 10:36:26.870195+01:00,2e526816,,None,870,2.0,3.0
897,875,None,2019-06-11 09:24:22.125174+01:00,aa12df9b,,None,880,3.0,3.0
907,856,None,2019-06-17 11:52:11.294344+01:00,0670d939,,None,861,3.0,3.0
980,950,None,2019-08-14 11:39:10.634057+01:00,c76de3d3,,None,955,2.0,3.0
990,967,None,2019-08-21 13:52:17.893278+01:00,2d4df349,,None,972,1.0,3.0
997,1024,None,2019-08-27 13:36:21.361097+01:00,ddf83571,,None,1029,1.0,3.0
998,973,None,2019-08-28 08:25:46.074321+01:00,13f52775,,None,978,1.0,3.0
1003,1036,None,2019-09-06 15:18:19.580986+01:00,f20d8947,,None,1041,1.0,4.0
1008,940,None,2019-09-10 10:07:43.641831+01:00,b48aa44d,,None,945,1.0,11.0
1009,1006,None,2019-09-10 13:42:49.748878+01:00,30f024bf,,None,1011,3.0,11.0
1010,1003,None,2019-09-10 13:47:35.439414+01:00,70dd3229,,None,1008,3.0,11.0
1011,981,None,2019-09-10 13:54:03.856608+01:00,a7807a04,,None,986,3.0,11.0
1013,990,None,2019-09-12 13:37:47.498728+01:00,f19a8628,,None,995,3.0,11.0
1026,1047,None,2019-09-23 15:07:55.035399+01:00,efd78a38,,None,1052,1.0,4.0

In [9]:
notepisodes = frames_dict['ipfjes_removalreason'][~frames_dict['ipfjes_removalreason'].reason_fk_id.isnull()].episode_id.values # participants removed

In [10]:
len(notepisodes)

67

# does everyone have a CT and/or biopsy result

In [11]:
len(frames_dict['ipfjes_ctandbiopsy'])

1033

In [12]:
ct = frames_dict['ipfjes_ctandbiopsy'][~frames_dict['ipfjes_ctandbiopsy'].episode_id.isin(notepisodes)].copy()

In [13]:
len(ct)

966

In [14]:
assert ct.ct_findings.isnull().any() == False # should have a ct for everyone

In [15]:
ct[ct.ct_findings.isnull() == True].episode_id.values # lets see who we don't have a ct for

array([], dtype=int64)

In [16]:
ct[ct.episode_id.duplicated()] # shouldn't have duplicated episode ids in the table

Empty DataFrame
Columns: [id, created, updated, consistency_token, ct_findings, ct_findings_other, biopsy_findings, biopsy_findings_other, created_by_id, episode_id, updated_by_id]
Index: []

In [17]:
frames_dict['ipfjes_demographics'][frames_dict['ipfjes_demographics'].patient_id.isin([1064, 1059, 1057, 1065, 1053, 1016, 1005,  999,  983, 1060, 1062,
       1061, 1056])][['first_name', 'surname', 'date_of_birth']].to_csv('for_carl_to_lookup.csv')

# are the hospital numbers sensible

In [18]:
frames_dict['ipfjes_demographics'].hospital_number.map(len).value_counts() # should be 6

6    1033
Name: hospital_number, dtype: int64

In [19]:
frames_dict['ipfjes_demographics'][frames_dict['ipfjes_demographics'].hospital_number.map(len) == 0]

Empty DataFrame
Columns: [id, created, updated, consistency_token, hospital_number, nhs_number, surname, first_name, middle_name, date_of_birth, religion, date_of_death, post_code, gp_practice_code, death_indicator, title_ft, marital_status_ft, sex_ft, birth_place_ft, ethnicity_ft, birth_place_fk_id, created_by_id, ethnicity_fk_id, marital_status_fk_id, patient_id, sex_fk_id, title_fk_id, updated_by_id, contact_details, phone_number]
Index: []

[0 rows x 30 columns]

In [20]:
130029

130029

In [21]:
frames_dict['ipfjes_demographics'][frames_dict['ipfjes_demographics'].hospital_number.astype(str) == '040044']

,id,created,updated,consistency_token,hospital_number,nhs_number,surname,first_name,middle_name,date_of_birth,...,birth_place_fk_id,created_by_id,ethnicity_fk_id,marital_status_fk_id,patient_id,sex_fk_id,title_fk_id,updated_by_id,contact_details,phone_number
392,444,None,2018-07-04 15:35:35.192653+01:00,62c39d49,040044,None,Leigh,David,None,1939-07-27,...,None,None,None,None,444,None,None,3,"Townhill Surgery, Wessex Road, \nSouthampton, ...",02380191702 (tuesdays preferred)

In [22]:
frames_dict['ipfjes_studyparticipantdetails'][frames_dict['ipfjes_studyparticipantdetails'].episode_id == 444]

,id,created,updated,consistency_token,participant_type,site_ft,created_by_id,episode_id,site_fk_id,updated_by_id,comments,email_address,postal_address,want_updates
351,444,None,2018-06-13 12:13:49.156387+01:00,8ca6e1ac,control,,None,444,6.0,4,"patient has had a couple of strokes, so interv...",None,,No

In [23]:
assert frames_dict['ipfjes_demographics'].hospital_number.isnull().any() == False # everyone should have one

In [24]:
assert len(frames_dict['ipfjes_demographics'][frames_dict['ipfjes_demographics'].hospital_number.duplicated()]) == 0
# no duplicates

In [25]:
frames_dict['ipfjes_demographics'][frames_dict['ipfjes_demographics'].hospital_number.duplicated()]

Empty DataFrame
Columns: [id, created, updated, consistency_token, hospital_number, nhs_number, surname, first_name, middle_name, date_of_birth, religion, date_of_death, post_code, gp_practice_code, death_indicator, title_ft, marital_status_ft, sex_ft, birth_place_ft, ethnicity_ft, birth_place_fk_id, created_by_id, ethnicity_fk_id, marital_status_fk_id, patient_id, sex_fk_id, title_fk_id, updated_by_id, contact_details, phone_number]
Index: []

[0 rows x 30 columns]

In [26]:
assert frames_dict['ipfjes_demographics'].id.isnull().any() == False
assert frames_dict['ipfjes_demographics'].surname.isnull().any() == False 
assert frames_dict['ipfjes_demographics'].first_name.isnull().any() == False
assert frames_dict['ipfjes_demographics'].date_of_birth.isnull().any() == False
assert frames_dict['ipfjes_demographics'].ethnicity_ft.isnull().any() == False

In [27]:
frames_dict['ipfjes_demographics'][frames_dict['ipfjes_demographics'].date_of_birth.isnull() == True]

Empty DataFrame
Columns: [id, created, updated, consistency_token, hospital_number, nhs_number, surname, first_name, middle_name, date_of_birth, religion, date_of_death, post_code, gp_practice_code, death_indicator, title_ft, marital_status_ft, sex_ft, birth_place_ft, ethnicity_ft, birth_place_fk_id, created_by_id, ethnicity_fk_id, marital_status_fk_id, patient_id, sex_fk_id, title_fk_id, updated_by_id, contact_details, phone_number]
Index: []

[0 rows x 30 columns]

In [28]:
datetime.date.today()

datetime.date(2019, 12, 17)

In [29]:
frames_dict['ipfjes_demographics'].date_of_birth.dropna().min()

datetime.date(1925, 1, 26)

In [30]:
(datetime.date.today() - frames_dict['ipfjes_demographics'].date_of_birth.dropna().min()) / 365

datetime.timedelta(94, 82375, 890411)

In [31]:
frames_dict['ipfjes_demographics'].date_of_birth.dropna().max()

datetime.date(1986, 6, 27)

In [32]:
(datetime.date.today() - frames_dict['ipfjes_demographics'].date_of_birth.dropna().max()) / 365

datetime.timedelta(33, 42844, 931507)

In [33]:
assert frames_dict['ipfjes_cohabitationhistory'].patient_id.isnull().any() == False
assert frames_dict['ipfjes_cohabitationhistory'].nameofperson.isnull().any() == False
assert frames_dict['ipfjes_cohabitationhistory'].occupation.isnull().any() == False

# http://129.31.156.129/#/patient/1022 - ask caitlin

In [34]:
frames_dict['ipfjes_cohabitationhistory'][frames_dict['ipfjes_cohabitationhistory'].occupation.isnull() == True]

Empty DataFrame
Columns: [id, created, updated, consistency_token, nameofperson, relationship, howlong, occupation, created_by_id, patient_id, updated_by_id]
Index: []

In [35]:
assert frames_dict['ipfjes_bloodrelationhistory'].episode_id.isnull().any() == False
assert frames_dict['ipfjes_bloodrelationhistory'].relation_ft.isnull().any() == False
assert frames_dict['ipfjes_bloodrelationhistory'].scarring.isnull().any() == False

In [36]:
# frames_dict['ipfjes_ipfjesethnicity'] ethnicity lookup
# frames_dict['ipfjes_mask'] mask lookup
# frames_dict['ipfjes_site'] centre lookup
# frames_dict['ipfjes_soccode'] soc code lookup
# frames_dict['ipfjes_asbestoslocalcontrol'] asbestos controls lookup
# frames_dict['ipfjes_asbestoshandling'] asbestos handling lookup

In [37]:
assert frames_dict['ipfjes_dyspnoea'].id.isnull().any() == False # mrc dyspnoea

In [38]:
assert frames_dict['ipfjes_diagnosishistory'].id.isnull().any() == False # how diagnosed

# lets check the smoking histories

In [39]:
sh = frames_dict['ipfjes_smokinghistory'][~frames_dict['ipfjes_smokinghistory'].episode_id.isin(notepisodes)].copy()

In [74]:
sh.columns

Index(['id', 'created', 'updated', 'consistency_token', 'ever_smoked',
       'current_smoker', 'start_smoking_age', 'stop_smoking_age',
       'cigarettes_per_day', 'created_by_id', 'episode_id', 'updated_by_id',
       'smoking_notes', 'smoking_type_other', 'what_do_you_smoke'],
      dtype='object')

In [75]:
sh[sh.id.isin([13, 55, 74, 119, 384, 546, 808])]

,id,created,updated,consistency_token,ever_smoked,current_smoker,start_smoking_age,stop_smoking_age,cigarettes_per_day,created_by_id,episode_id,updated_by_id,smoking_notes,smoking_type_other,what_do_you_smoke
11,74,None,2017-09-18 15:25:12.953638+01:00,56217da6,Yes,Yes,18,None,None,None,74,4.0,None,roll up 1/2 ounce / day and half,Other
67,55,None,2017-08-31 12:21:03.745300+01:00,1095b496,Yes,No,13,28,,None,55,4.0,None,ounce a week pipe,Other
83,13,None,2018-02-07 15:53:04.958640+00:00,21e8182a,Yes,No,15,15,10,None,13,4.0,None,None,Cigarettes
112,119,None,2017-11-09 11:01:08.012331+00:00,12645e70,Yes,No,26,33,None,None,119,4.0,None,"pipe, ounce would last 2-3 weeks and cigars 10...",Other
360,384,None,2018-04-25 11:22:31.256074+01:00,ff6938d3,Yes,No,18,35,0,None,384,1.0,None,None,Pipe
515,546,None,2018-07-26 15:43:49.205731+01:00,bbf0afcf,Yes,No,18,33,None,None,546,3.0,None,None,Roll-ups
783,808,None,2019-01-31 12:12:24.179642+00:00,545e5cc2,Yes,No,17,33,,None,808,3.0,None,None,Cigarettes

In [40]:
assert sh.id.isnull().any() == False # smoking history
# frames_dict['ipfjes_smokinghistory']

In [42]:
assert sh.ever_smoked.isnull().any() == False

AssertionError:

In [43]:
sh[sh.ever_smoked.isnull()].id.values # missing smoking hx to fix, mostly just haven't been interviewed yet

array([ 789, 1039, 1051, 1054, 1055, 1058])

In [44]:
# 390, 400, 401, 415, 453, 502, 507, 555, 557, 584, no longer wishes to take part or no response - why is removal reason != null ?
# 596, 599, 601 has smoking history what's going on? (prob not interviewed before but now are)

In [45]:
sh.start_smoking_age.fillna('0').map(lambda x: len(x)).value_counts() # start smoking age should be sensible

2    686
1    279
0      1
Name: start_smoking_age, dtype: int64

In [46]:
sh[sh.start_smoking_age.fillna('0').map(lambda x: len(x)) ==0]

,id,created,updated,consistency_token,ever_smoked,current_smoker,start_smoking_age,stop_smoking_age,cigarettes_per_day,created_by_id,episode_id,updated_by_id,smoking_notes,smoking_type_other,what_do_you_smoke
85,79,None,2019-11-08 21:50:38.975548+00:00,c215c4f7,No,No,,,,None,79,4.0,,,None

In [47]:
sh.to_csv("smokey.csv")

In [48]:
sh[(sh.cigarettes_per_day.notnull()) & (sh.cigarettes_per_day.str.contains('-'))]

Empty DataFrame
Columns: [id, created, updated, consistency_token, ever_smoked, current_smoker, start_smoking_age, stop_smoking_age, cigarettes_per_day, created_by_id, episode_id, updated_by_id, smoking_notes, smoking_type_other, what_do_you_smoke]
Index: []

In [49]:
sh.stop_smoking_age.fillna('0').map(lambda x: len(x)).value_counts() # ditto stop smoking age should be sensible

2    660
1    305
0      1
Name: stop_smoking_age, dtype: int64

In [50]:
sh[sh.stop_smoking_age.fillna('0').map(lambda x: len(x)) == 0]

,id,created,updated,consistency_token,ever_smoked,current_smoker,start_smoking_age,stop_smoking_age,cigarettes_per_day,created_by_id,episode_id,updated_by_id,smoking_notes,smoking_type_other,what_do_you_smoke
85,79,None,2019-11-08 21:50:38.975548+00:00,c215c4f7,No,No,,,,None,79,4.0,,,None

In [51]:
sh[sh.ever_smoked.isnull()] # check that this maps our home screen

,id,created,updated,consistency_token,ever_smoked,current_smoker,start_smoking_age,stop_smoking_age,cigarettes_per_day,created_by_id,episode_id,updated_by_id,smoking_notes,smoking_type_other,what_do_you_smoke
751,789,None,None,,None,None,None,None,None,None,789,NaN,None,None,None
979,1039,None,None,,None,None,None,None,None,None,1039,NaN,None,None,None
1013,1051,None,None,,None,None,None,None,None,None,1051,NaN,None,None,None
1015,1054,None,None,,None,None,None,None,None,None,1054,NaN,None,None,None
1016,1055,None,None,,None,None,None,None,None,None,1055,NaN,None,None,None
1017,1058,None,None,,None,None,None,None,None,None,1058,NaN,None,None,None

In [52]:
len(sh[sh.ever_smoked.isnull()])

6

# lets identify people who haven't been interviewed yet. given we're checking and fixing folk who lack a smoking hx. we can assume that we map those without interview.

In [53]:
notepisodesyet = sh[sh.ever_smoked.isnull()].episode_id.values

In [54]:
nes = np.append(notepisodesyet, notepisodes) # lets not consider any of the episodes that aren't complete or removed

In [55]:
print('total of {} not included, comprised of {} participants who withdrew and {} participants yet to be interviewed \n nb we also have 3 isle of man pts with no long/lat'.format(len(nes), len(notepisodes), len(sh[sh.ever_smoked.isnull()])))

total of 73 not included, comprised of 67 participants who withdrew and 6 participants yet to be interviewed
 nb we also have 3 isle of man pts with no long/lat

In [56]:
with open("notepisodes.txt", "w") as f: # lets save what are not episodes
    for s in list(nes):
        f.write(str(s) +"\n")

In [57]:
aes = frames_dict['ipfjes_asbestosexposurescreening'][~frames_dict['ipfjes_asbestosexposurescreening'].episode_id.isin(nes)].copy()
assert aes.exposed.isnull().any == False # ever exposed

AssertionError:

In [58]:
aes[aes.exposed.isnull()] # missing asbestos hx to fix

,id,created,updated,consistency_token,exposed,description,created_by_id,episode_id,updated_by_id,related_occupation_id
282,326,2018-02-08 15:13:34.557446+00:00,2019-11-09 21:12:37.771624+00:00,5dd9573e,None,None,4.0,269,4.0,1155.0
566,638,2018-06-28 12:27:38.984785+01:00,None,176dd81b,None,None,4.0,32,NaN,212.0
567,639,2018-06-28 12:28:17.724315+01:00,None,ca3ddecd,None,None,4.0,49,NaN,239.0
814,890,2018-10-29 14:21:01.014833+00:00,2018-12-12 15:38:17.966310+00:00,78cab084,None,None,3.0,691,3.0,2832.0
821,899,2018-10-31 11:38:55.058070+00:00,2018-12-12 15:38:17.967661+00:00,1ba416ac,None,None,4.0,691,3.0,2835.0
976,982,2018-11-21 11:34:37.131855+00:00,2018-12-12 17:40:12.502580+00:00,7d898f92,None,None,3.0,733,3.0,3071.0
1087,1153,2019-05-09 16:19:20.622773+01:00,None,5c3cb851,None,None,4.0,97,NaN,456.0
1106,1172,2019-05-20 15:01:15.613398+01:00,None,229bbdcb,None,None,3.0,892,NaN,3673.0
1156,1221,2019-06-13 11:36:39.374826+01:00,None,39f20774,None,None,4.0,351,NaN,1532.0
1275,1359,2019-09-12 15:32:44.685464+01:00,None,ed31fbbd,None,None,11.0,1047,NaN,4287.0
1301,1352,2019-09-11 10:40:22.725337+01:00,2019-11-14 17:08:39.893974+00:00,6fd3fc8f,None,None,4.0,1027,4.0,4266.0
1311,1381,2019-09-24 13:07:44.462511+01:00,None,9b1379b0,None,None,4.0,1065,NaN,4355.0
1313,1383,2019-10-29 10:45:50.312782+00:00,None,81e49572,None,None,4.0,1066,NaN,4360.0

In [59]:
# rupa checking 080019

# issue of ambiguity in asbestos exposure screening question at end. if pt has already reported exposure and been screened then we select no. if they havent and are screened yes we complete question including desc of job to link back.

# therefore ever exposed people = those reporting an exposure history (for any job) +/or those answering yes to screening question

In [60]:
frames_dict['ipfjes_asbestosexposurehistory'].handling_ft.value_counts() # how many cherrie histories we have

                           602
breaking or ripping out     30
Name: handling_ft, dtype: int64

In [61]:
frames_dict['ipfjes_asbestoshandling']

    id                                               name
0    1                      lifting boards without damage
1    2                                    painting boards
2    3                wearing protective gloves or aprons
3    4           unscrewing and carefully removing boards
4    5               machine stitching quilts (yarn only)
5    6                    lifting loose fibre and bagging
6    7            machine stitching quilts (cloth & yarn)
7    8                                      braiding rope
8    9                                           drilling
9   10                           breaking or ripping out
10  11                            brushing dust or debris
11  12                   blowing dust with compressed air
12  13                                 hand sawing boards
13  14                  delagging dry (manual scraping) *
14  15                             circular sawing boards
15  16  delagging dry using power tools (grinders and ...

In [62]:
noadesc = frames_dict['ipfjes_asbestosexposurehistory'][frames_dict['ipfjes_asbestosexposurehistory'].description.isnull()]

In [63]:
noadesc[~noadesc.handling_fk_id.isnull()].episode_id.values # no description but do have handling info..

array([428, 276])

In [64]:
noadesc[~noadesc.asbestos_type.isnull()].episode_id.values # no description but do have asbestos type..

array([122, 114, 299, 428, 924, 276])

# issue: we have a lot of blank asbestos exposure descriptions

In [65]:
frames_dict['ipfjes_occupationalhistory'].columns # occ history, needs debugging

Index(['id', 'job_name', 'job_tasks', 'employer_output', 'start_year',
       'end_year', 'address', 'consistency_token', 'created', 'created_by_id',
       'patient_id', 'updated', 'updated_by_id', 'soc_job_fk_id', 'soc_job_ft',
       'av_hours_per_week_if_not_full_time',
       'av_months_per_year_if_not_year_round', 'company_name', 'full_time',
       'working_area_ft', 'year_round', 'working_area_fk_id', 'soc_code_id'],
      dtype='object')

In [66]:
# frames_dict['ipfjes_occupationalhistory'][['patient_id', 'soc_job_ft', 'soc_job_fk_id', 'job_tasks', 'start_year', 'end_year']]

In [67]:
assert frames_dict['ipfjes_studyparticipantdetails'].participant_type.isnull().any() == False # check everyone is a case or control

In [68]:
frames_dict['ipfjes_studyparticipantdetails'][frames_dict['ipfjes_studyparticipantdetails'].participant_type.isnull()]

Empty DataFrame
Columns: [id, created, updated, consistency_token, participant_type, site_ft, created_by_id, episode_id, site_fk_id, updated_by_id, comments, email_address, postal_address, want_updates]
Index: []

In [69]:
frames_dict['ipfjes_studyparticipantdetails'].participant_type.value_counts()

case       517
control    516
Name: participant_type, dtype: int64

In [70]:
frames_dict['ipfjes_demographics'][(frames_dict['ipfjes_demographics']['surname'] == "Farmery") & (frames_dict['ipfjes_demographics']['first_name'] == "David") ]['contact_details'].values

array(['Grove Park Terrace Surgery 25 Grove Park Terrace, Chiswick, London, W4 3JL'],
      dtype=object)

In [71]:
frames_dict['ipfjes_demographics'][frames_dict['ipfjes_demographics']['contact_details'].isnull()] 
# missing gp addresses

,id,created,updated,consistency_token,hospital_number,nhs_number,surname,first_name,middle_name,date_of_birth,...,birth_place_fk_id,created_by_id,ethnicity_fk_id,marital_status_fk_id,patient_id,sex_fk_id,title_fk_id,updated_by_id,contact_details,phone_number
819,1052,None,2019-09-23 09:28:38.814674+01:00,de8e9a04,200064,None,Sellers,Peter,None,1949-12-17,...,None,None,None,None,1051,None,None,4,None,07984553986
821,1053,None,2019-09-23 09:29:21.893396+01:00,033d93fa,200063,None,Elliot,Robert,None,1941-12-15,...,None,None,None,None,1052,None,None,4,None,02086921669
833,1059,None,2019-09-23 09:45:23.710362+01:00,6b609ef1,100104,None,Graham,Alan,None,1948-07-13,...,None,None,None,None,1058,None,None,4,None,07932653419

In [72]:
# not known issue that isle of man postcodes don't have a centroid in ons lookup