In [74]:
import pandas as pd
import xlrd
import warnings
warnings.filterwarnings('ignore')

In [33]:
# load subset of IPFJES participants with a genotype and an exposure assessment
df = pd.read_csv('flat_data_genotype_subset.csv')

In [34]:
len(df)

902

In [35]:
df.case.value_counts()

1    464
0    438
Name: case, dtype: int64

In [36]:
# louise says we have 8 plates in the first instance
# to top up another plate we'll have to randomly select additional samples we've not 
# previously selected (to be done as of 2/11/21)

n_of_plates = 8
n_of_wells = n_of_plates * 95 # 1 well of 96 well plate for a control

In [37]:
n_of_wells

760

In [38]:
n_of_wells / 2 # since we want even mix of cases and controls

380.0

In [39]:
# randomly sample 380 cases
cases = df[df['case'] == 1].sample(380)

In [40]:
# randomly sample 380 controls
controls = df[df['case'] == 0].sample(380)

In [41]:
# combine random sample of cases and controls
df2 = pd.concat([cases, controls])

In [42]:
# check ages roughly similar
df2.groupby('case').age.describe()

      count       mean       std   min   25%   50%   75%   max
case
0     380.0  74.947368  8.630948  34.0  70.0  76.0  80.0  96.0
1     380.0  77.136842  7.721212  55.0  72.0  77.0  83.0  95.0

In [43]:
# randomly shuffle the dataframe
df2 = df2.sample(frac = 1)

In [44]:
# make index sensible
df2.reset_index(inplace=True)

In [45]:
# our desired output index starts at 1
df2['sample_index'] = df2.index + 1

In [46]:
# 8 plates means 8 bins so put the samples in that and label accordingly
df2['Plate ID'] = pd.cut(df2.sample_index, bins=8, labels=[str(i) for i in range(1,9)], precision=0)

In [47]:
# check we did it right
df2['Plate ID'].value_counts()

8    95
7    95
6    95
5    95
4    95
3    95
2    95
1    95
Name: Plate ID, dtype: int64

In [48]:
# add project column as requested in guidance provided
df2['Project'] = 'IPFJES'

In [49]:
# formatting for spreadsheets
df3 = df2[['Plate ID', 'participant_id', 'Project']]

In [50]:
# cleaning dirty datas
# dna_locations.xls is a spreadsheet of sample locations that was made manually...
gt = pd.read_excel('dna_locations.xls',header=0)
gt['old_participant_id'] = gt['participant_id']
gt[gt.participant_id.duplicated(keep=False)].sort_values(by='participant_id')
gt = gt.drop_duplicates(subset='participant_id')
gt.participant_id = gt.participant_id.astype(str)
gt.participant_id = gt.participant_id.str.replace('-1','')
gt.participant_id = gt.participant_id.str.replace('-2','')
gt.participant_id = gt.participant_id.str.replace('-3','')
gt.participant_id = gt.participant_id.str.replace('DR|SF|WP|RN|PB|GW|-| ','')
gt.loc[gt['participant_id'] == '08003', 'participant_id'] = '080003'
gt.loc[gt['participant_id'] == '08005', 'participant_id'] = '080005'
gt.loc[gt['participant_id'] == '12004', 'participant_id'] = '120004'
gt.loc[gt['participant_id'] == '12006', 'participant_id'] = '120006'
gt.loc[gt['participant_id'] == '19006', 'participant_id'] = '190006'
gt.loc[gt['participant_id'] == '16018', 'participant_id'] = '160018'
gt.loc[gt['participant_id'] == '19007', 'participant_id'] = '190007'
gt.loc[gt['participant_id'] == '10004B', 'participant_id'] = '100004'
gt.loc[gt['participant_id'].map(len) == 7, 'participant_id'] = gt.loc[gt['participant_id'].map(len) == 7, 'participant_id'].str.replace('000','00')
gt.loc[gt.participant_id.map(len) == 5, 'participant_id'] = '0' + gt.loc[gt.participant_id.map(len) == 5, 'participant_id']
gt.participant_id = gt.participant_id.str.replace('040150','040015')
gt = gt.drop_duplicates(subset='participant_id')

In [51]:
# cleaning dirty datas (specifically addressing the fact that the preceding '0' is lost when strings are incorrectly saved as numbers)
df3.participant_id = df.participant_id.astype(str)
df3.loc[df3.participant_id.map(len) == 5, 'participant_id'] = '0' + df3.loc[df3.participant_id.map(len) == 5, 'participant_id']

/home/drcjar/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/home/drcjar/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [52]:
# samples I have genotyping and box location for
# but are apparently missing from my spreadsheet of dna locations
# which is a bit of a mess. sources of truth are log books, dna quality control data, genotyping results, and location data.
# we have a genotype for all of these so we must have a sample

set(df3.participant_id) - set(gt.participant_id)

"""
{'040041',
 '050038',
 '050043',
 '080003',
 '080004',
 '080006',
 '090044',
 '100052',
 '160042',
 '190004',
 '200023'}
"""

"\n{'040041',\n '050038',\n '050043',\n '080003',\n '080004',\n '080006',\n '090044',\n '100052',\n '160042',\n '190004',\n '200023'}\n"

In [53]:
# lets merge our study dataframe with our dna locations to add location data
df4 = pd.merge(df3, gt, on='participant_id', how='left')

In [54]:
# separately we have data on genomic content of samples
# herein we use that together with some calculations we did elsewhere
# to suggest what's needed to make 100ng/ul working stock that we can then use
# to plate samples to desired 25ul of 10ng/ml concentration sample in each well

df5 = pd.read_excel('carldata_kenny.xls')

In [55]:
# unfortunately genomic content of sample data also had a manually entered sample ID...

df5['participant_id'] = df5['Sample ID']
df5 = df5[df5['Genomic DNA'] > 0]
df5 = df5.drop_duplicates(subset='participant_id')
df5.participant_id = df5.participant_id.astype(str)
df5.participant_id = df5.participant_id.str.replace('-1','')
df5.participant_id = df5.participant_id.str.replace('-2','')
df5.participant_id = df5.participant_id.str.replace('-3','')
df5.participant_id = df5.participant_id.str.replace('DR|SF|WP|RN|PB|GW|-| ','')
df5.loc[df5['participant_id'] == '08003', 'participant_id'] = '080003'
df5.loc[df5['participant_id'] == '08005', 'participant_id'] = '080005'
df5.loc[df5['participant_id'] == '12004', 'participant_id'] = '120004'
df5.loc[df5['participant_id'] == '12006', 'participant_id'] = '120006'
df5.loc[df5['participant_id'] == '19006', 'participant_id'] = '190006'
df5.loc[df5['participant_id'] == '16018', 'participant_id'] = '160018'
df5.loc[df5['participant_id'] == '19007', 'participant_id'] = '190007'
df5.loc[df5['participant_id'] == '10004B', 'participant_id'] = '100004'
df5.loc[df5['participant_id'].map(len) == 7, 'participant_id'] = df5.loc[df5['participant_id'].map(len) == 7, 'participant_id'].str.replace('000','00')
df5.loc[df5.participant_id.map(len) == 5, 'participant_id'] = '0' + df5.loc[df5.participant_id.map(len) == 5, 'participant_id']
df5 = df5.drop_duplicates(subset='participant_id')

In [56]:
# lets combine with our earlier work to add details of how to make working stock

df6 = pd.merge(df4, df5, on='participant_id', how='left')

In [ ]:
# lets add one other source of 'truth' for the lols...

In [61]:
df7 = pd.read_excel('genotyping_additional_information.xlsx')

In [64]:
df7

    audrey_participant_id               result     location
0                010082-1          Heterozygous
1                040067-1   Homozygous Allele 1   Box Eight
2                200024-1          Heterozygous   Box Eight
3                200023-1          Heterozygous   Box Eight
4                190009-1          Heterozygous   Box Eight
5                060033-1          Heterozygous   Box Eight
6                160034-1          Heterozygous   Box Eight
7                010056-1   Homozygous Allele 1   Box Eight
8                030062-1   Homozygous Allele 1   Box Eight
9                010055-1          Heterozygous   Box Eight
10               160036-1   Homozygous Allele 1   Box Eight
11               120003-1          Heterozygous   Box Eight
12               050058-1   Homozygous Allele 1   Box Eight
13               080066-1   Homozygous Allele 1   Box Eight
14              0400079-1   Homozygous Allele 2   Box Eight
15               140035-1   Homozygous Allele 1   Box Eight
16               060054-1          Heterozygous   Box Eight
17               190011-1          Heterozygous   Box Eight
18               080070-1          Heterozygous   Box Eight
19               010054-1   Homozygous Allele 1   Box Eight
20               010077-1          Heterozygous   Box Eight
21               050064-1          Heterozygous   Box Eight
22               080069-1   Homozygous Allele 1   Box Eight
23               060053-1   Homozygous Allele 1   Box Eight
24               080079-1   Homozygous Allele 1   Box Eight
25               100037-1   Homozygous Allele 1   Box Eight
26               070023-1          Heterozygous   Box Eight
27               010078-1   Homozygous Allele 1   Box Eight
28               070024-1          Heterozygous   Box Eight
29               210006-1          Heterozygous   Box Eight
..                    ...                   ...         ...
822               200007-   Homoxygous Allele 1  Repeat Box
823              030071-1   Homoxygous Allele 1  Repeat Box
824              080006-2          Heterozygous         NaN
825               08003-2   Homozygous Allele 2         NaN
826               19006-1          Heterozygous         NaN
827               100012-   Homozygous Allele 1         NaN
828              190004-1   Homozygous Allele 1         NaN
829               010043-          Heterozygous         NaN
830              080003-1   Homozygous Allele 2         NaN
831              080003-2   Homozygous Allele 2         NaN
832              080004-1   Homozygous Allele 1         NaN
833              080004-2   Homozygous Allele 1         NaN
834              080006-1          Heterozygous         NaN
835               08003-1   Homozygous Allele 2         NaN
836              090056-1          Heterozygous         NaN
837              1000010-   Homozygous Allele 1         NaN
838              100004-1          Heterozygous         NaN
839              100004-2          Heterozygous         NaN
840               100033-          Heterozygous         NaN
841               160000-   Homozygous Allele 1         NaN
842               16018-1   Homozygous Allele 1         NaN
843               19007-1          Heterozygous         NaN
844              160034-1          Heterozygous         NaN
845              010056-1   Homozygous Allele 1         NaN
846              030062-1   Homozygous Allele 1         NaN
847              010055-1          Heterozygous         NaN
848               40086-1   Homozygous Allele 1         NaN
849               040028-          Heterozygous         NaN
850              150017-1   Homozygous Allele 1         NaN
851              050035-1   Homozygous Allele 1         NaN

[852 rows x 3 columns]

In [65]:
df7['participant_id'] = df7['audrey_participant_id']
df7 = df7.drop_duplicates(subset='participant_id')
df7.participant_id = df7.participant_id.astype(str)
df7.participant_id = df7.participant_id.str.replace('-1','')
df7.participant_id = df7.participant_id.str.replace('-2','')
df7.participant_id = df7.participant_id.str.replace('-3','')
df7.participant_id = df7.participant_id.str.replace('DR|SF|WP|RN|PB|GW|-| ','')
df7.loc[df7['participant_id'] == '08003', 'participant_id'] = '080003'
df7.loc[df7['participant_id'] == '08005', 'participant_id'] = '080005'
df7.loc[df7['participant_id'] == '12004', 'participant_id'] = '120004'
df7.loc[df7['participant_id'] == '12006', 'participant_id'] = '120006'
df7.loc[df7['participant_id'] == '19006', 'participant_id'] = '190006'
df7.loc[df7['participant_id'] == '16018', 'participant_id'] = '160018'
df7.loc[df7['participant_id'] == '19007', 'participant_id'] = '190007'
df7.loc[df7['participant_id'] == '10004B', 'participant_id'] = '100004'
df7.loc[df7['participant_id'].map(len) == 7, 'participant_id'] = df7.loc[df7['participant_id'].map(len) == 7, 'participant_id'].str.replace('000','00')
df7.loc[df7.participant_id.map(len) == 5, 'participant_id'] = '0' + df7.loc[df7.participant_id.map(len) == 5, 'participant_id']
df7 = df7.drop_duplicates(subset='participant_id')

/home/drcjar/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:4401: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
/home/drcjar/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
/home/drcjar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/drcjar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/home/drcjar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
/home/drcjar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/home/drcjar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/drcjar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/home/drcjar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/drcjar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/home/drcjar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/home/drcjar/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [67]:
# lets add 'Audrey result data too..'
df8 = pd.merge(df6, df7, on='participant_id', how='left')

In [72]:
# outcome
# n.b Box 8 (prev missing) is currently in Bill and Miriam lab  GSB I think
# all other boxes are in Paul and Jenny lab EKB
# Plate ID is for Louise Plate
# participant_id and Project self-explanatory 
# Box_number and Location is according to our manually entered location spreadsheet
# old_participant_id shows what we 'cleaned'
# Sample ID manually entered into nanodrop machine, genomic DNA from machine output (we have dumps of raw files so I
# provide other parameters too if necessary), volume for dilution calculations mine from genotyping_prep script
# audrey_participant_id, result, location from another manually entered spreadsheet that a lab assistant did
df8

,Plate ID,participant_id,Project,Box_number,Location,old_participant_id,Date,Time,Sample ID,Genomic DNA,diln factor for intermediate concn (100ng/ul),volume of genomic DNA for working concn (100ng/ul),volume of PCR water for working concn (100ng/ul),audrey_participant_id,result,location
0,1,080013,IPFJES,Box 5,C7,0800013-1,2018-08-29,1:01 PM,080013-1,244.29,2.4429,20.467477,29.532523,080013-1,Heterozygous,Box Five
1,1,100061,IPFJES,Box 10,G5,100061-1,2019-07-09,11:53 AM,100061-1,843.30,8.4330,5.929088,44.070912,100061-1,Homozygous Allele 1,Box Ten
2,1,100026,IPFJES,Box 4,G4,100026-1,2018-08-23,10:44 AM,100026-1,213.72,2.1372,23.395096,26.604904,100026-1,Heterozygous,Box Four
3,1,010013,IPFJES,Box 5,D10,010013-1,2018-09-05,1:07 PM,010013-1,441.45,4.4145,11.326311,38.673689,010013-1,Homozygous Allele 1,Box Five
4,1,140002,IPFJES,Poor Quality Box One,C3,140002-,2018-08-01,12:18 PM,140002,46.02,0.4602,108.648414,-58.648414,140002-,Homozygous Allele 1,Poor Quality Box One
5,1,090054,IPFJES,Box 4,G2,090054-1,2018-08-23,10:42 AM,090054-1,365.40,3.6540,13.683634,36.316366,090054-1,Heterozygous,Box Four
6,1,060031,IPFJES,Poor Quality Box Three,I1,060031-1,2019-06-05,1:25 PM,060031-1,83.19,0.8319,60.103378,-10.103378,060031-1,Homozygous Allele 1,Poor Quality Box Three
7,1,090002,IPFJES,Box 8 (prev missing),F6,090002-1,2018-09-13,11:58 AM,090002-1,423.15,4.2315,11.816141,38.183859,NaN,NaN,NaN
8,1,040003,IPFJES,Box 8 (prev missing),I3,040003-1,2018-09-21,11:01 AM,040003-1,211.44,2.1144,23.647370,26.352630,NaN,NaN,NaN
9,1,040095,IPFJES,Box 10,D10,040095-1,2019-07-03,11:45 AM,040095-1,79.62,0.7962,62.798292,-12.798292,040095-1,Homozygous Allele 1,Box Ten
10,1,090043,IPFJES,Box 3,F5,090043,2018-08-02,10:02 AM,90043,724.11,7.2411,6.905028,43.094972,090043-,Homozygous Allele 1,Box Three
11,1,050012,IPFJES,Poor Quality Box Two,D5,050012-1,2018-08-24,10:23 AM,050012-1,38.46,0.3846,130.005200,-80.005200,050012-1,Homozygous Allele 2,Poor Quality Box Two
12,1,080032,IPFJES,Box 1,B2,080032,2018-08-31,12:43 PM,80032,104.49,1.0449,47.851469,2.148531,080032-,Homozygous Allele 1,Box Five
13,1,150011,IPFJES,Box 9,D6,150011,2019-05-24,2:11 PM,150011,121.47,1.2147,41.162427,8.837573,150011-,Homozygous Allele 2,Box Nine
14,1,080035,IPFJES,Poor Quality Box Two,C5,080035-,2018-08-31,12:45 PM,80035,26.88,0.2688,186.011905,-136.011905,080035-,Homozygous Allele 1,Poor Quality Box Two
15,1,080038,IPFJES,Box 1,B1,080038,2018-05-17,2:56 PM,80038,230.16,2.3016,21.724018,28.275982,080038-,Homozygous Allele 1,Box One
16,1,040103,IPFJES,Box 11,F7,040103-1,2019-09-19,11:11 AM,040103-1,1403.16,14.0316,3.563386,46.436614,NaN,NaN,NaN
17,1,040008,IPFJES,Box 10,E10,040008,2019-07-03,1:59 PM,40008,888.96,8.8896,5.624550,44.375450,040008-,Homozygous Allele 2,Box Ten
18,1,050022,IPFJES,Box 5,A8,050022,2018-08-28,10:28 AM,50022,183.66,1.8366,27.224219,22.775781,050022-,Homozygous Allele 2,Box Five
19,1,090027,IPFJES,Box 8 (prev missing),I5,90027,2018-09-21,11:02 AM,90027,31.17,0.3117,160.410651,-110.410651,NaN,NaN,NaN
20,1,090028,IPFJES,Box 8 (prev missing),I6,90028,2018-09-21,11:03 AM,90028,231.93,2.3193,21.558229,28.441771,NaN,NaN,NaN
21,1,170012,IPFJES,Box 10,A7,170012,NaT,NaN,NaN,NaN,NaN,NaN,NaN,170012-1,Homozygous Allele 1,Box Ten
22,1,060019,IPFJES,Box 4,E6,060019,2018-08-13,2:31 PM,60019,472.44,4.7244,10.583355,39.416645,060019-,Homozygous Allele 1,Box Four
23,1,070030,IPFJES,Box 10,A10,070030,NaT,NaN,NaN,NaN,NaN,NaN,NaN,070030-,Homozygous Allele 1,Box Ten
24,1,050047,IPFJES,Box 2,C4,050047-1,2018-07-02,2:36 PM,050047-1,221.70,2.2170,22.553000,27.447000,050047-1,Homozygous Allele 1,Box Two
25,1,140023,IPFJES,Poor Quality Box One,C7,140023-1,2018-08-01,12:31 PM,140023-1,30.21,0.3021,165.508110,-115.508110,140023-1,Heterozygous,Poor Quality Box One
26,1,080059,IPFJES,Box 1,C6,080059,2018-05-17,2:53 PM,80059,223.41,2.2341,22.380377,27.619623,080059-,Homozygous Allele 1,Box One .. There's two labelled the same from ...
27,1,050042,IPFJES,Poor Quality Box One,A8,050042-,2018-07-03,12:45 PM,50042,89.07,0.8907,56.135624,-6.135624,050042-,Homozygous Allele 1,Poor Quality Box One
28,1,100060,IPFJES,Box 10,G3,100060-1,2019-07-09,11:52 AM,100060-1,1838.76,18.3876,2.719224,47.280776,100060-1,Homozygous Allele 1,Box Ten
29,1,030053,IPFJES,Box 4,C9,030053,2018-08-09,10:37 AM,30053,784.11,7.8411,6.376656,43.623344,030053-,Homozygous Allele 1,Box Four
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
730,8,090057,IPFJES,Box 9,C10,090057,2019-05-24,1:59 PM,090057DR,416.16,4.1616,12.014610,37.985390,090057DR,Heterozygous,Box Nine
731,8,030070,IPFJES,Box 7,B4,030070-1,2019-05-20,2:16 PM,030070-1,283.38,2.8338,17.644153,32.355847,030070-1,Homozygous Allele 1,Box seven
732,8,030071,IPFJES,Repeat Box,D8,030071-1,2019-05-20,2:19 PM,030071-1,37.08,0.3708,134.843581,-84.843581,030071-1,Homoxygous Allele 1,Repeat Box
733,8,100079,IPFJES,Box 11,B6,100079-1,2019-08-06,12:28 PM,100079-1,1077.51,10.7751,4.640328,45.359672,NaN,NaN,NaN
734,8,100008,IPFJES,Box 2,D7,100008,2018-06-29,10:43 AM,100008,302.88,3.0288,16.508188,33.491812,100008-,Heterozygous,Box Two
735,8,010028,IPFJES,Box 8 (prev missing),A3,10028,2018-09-05,1:14 PM,10028,193.32,1.9332,25.863853,24.136147,NaN,NaN,NaN
736,8,180006,IPFJES,Box 4,E10,180006-1,2018-08-13,2:40 PM,180006-1,357.09,3.5709,14.002072,35.997928,180006-1,Heterozygous,Box Four
737,8,030038,IPFJES,Box 2,E10,030038,2018-06-19,1:02 PM,30038,103.14,1.0314,48.477797,1.522203,030038-,Heterozygous,Box Two
738,8,010059,IPFJES,Poor Quality Box Three,C10,010059-1,2019-06-06,12:28 PM,010059-1,26.01,0.2601,192.233756,-142.233756,010059-1,Heterozygous,Poor Quality Box Three
739,8,010060,IPFJES,Poor Quality Box Two,D8,010060-1,2019-01-04,1:13 PM,010060-1,17.04,0.1704,293.427230,-243.427230,010060-1,Heterozygous,Poor Quality Box Two
740,8,060059,IPFJES,Box 9,D3,060059-1,2019-06-06,12:21 PM,060059-1,1258.29,12.5829,3.973647,46.026353,060059-1,Homozygous Allele 1,Box Nine
741,8,200039,IPFJES,Poor Quality Box Two,E7,200039-1,2019-05-14,10:09 AM,200039-1,47.85,0.4785,104.493208,-54.493208,200039-1,Heterozygous,Poor Quality Box Two
742,8,100038,IPFJES,Box 10,J5,100038-1,2019-08-01,12:15 PM,100038-1,395.97,3.9597,12.627219,37.372781,NaN,NaN,NaN
743,8,100076,IPFJES,Box 10,I3,100076-1,2019-08-01,12:09 PM,100076-1,618.15,6.1815,8.088652,41.911348,NaN,NaN,NaN
744,8,060013,IPFJES,Box 4,A1,060013,2018-08-08,1:21 PM,60013,632.79,6.3279,7.901516,42.098484,060013-,Homozygous Allele 1,Box Four
745,8,210009,IPFJES,Box 10,H8,210009-1,2019-08-01,12:06 PM,210009-1,790.68,7.9068,6.323671,43.676329,NaN,NaN,NaN
746,8,030001,IPFJES,Box 8 (prev missing),A4,30001,2018-09-05,1:14 PM,30001,133.83,1.3383,37.360831,12.639169,NaN,NaN,NaN
747,8,010019,IPFJES,Poor Quality Box Two,B2,010019-,2018-09-03,10:00 AM,10019,27.06,0.2706,184.774575,-134.774575,010019-,Homozygous Allele 1,Poor Quality Box Two
748,8,050036,IPFJES,Box 5,B5,050036-1,2018-08-28,10:36 AM,050036-1,273.66,2.7366,18.270847,31.729153,050036-1,Heterozygous,Box Five
749,8,130009,IPFJES,Box 1,B4,130009,2018-07-09,9:54 AM,130009,1183.38,11.8338,4.225185,45.774815,130009-,Heterozygous,Box One
750,8,030014,IPFJES,Box 8 (prev missing),B7,30014,2018-09-07,11:23 AM,30014,357.93,3.5793,13.969212,36.030788,NaN,NaN,NaN
751,8,140013,IPFJES,Box 3,D5,140013,2018-08-01,12:25 PM,140013,100.08,1.0008,49.960032,0.039968,140013-,Homozygous Allele 1,Box Three
752,8,060002,IPFJES,Box 3,A6,060002,2018-07-30,10:16 AM,60002,913.98,9.1398,5.470579,44.529421,060002-,Heterozygous,Box Three
753,8,040016,IPFJES,Box 6,A4,040016,2019-01-03,2:49 PM,40016,103.14,1.0314,48.477797,1.522203,040016-,Heterozygous,Box Six
754,8,030032,IPFJES,Box 8 (prev missing),D4,30032,2018-09-11,1:26 PM,30032,87.87,0.8787,56.902242,-6.902242,NaN,NaN,NaN
755,8,050032,IPFJES,Box 5,B8,050032,2018-08-28,10:33 AM,50032,489.39,4.8939,10.216801,39.783199,050032-,Heterozygous,Box Five
756,8,030045,IPFJES,Box 2,B7,030045-1,2018-07-02,2:33 PM,030045-1,218.79,2.1879,22.852964,27.147036,030045-1,Heterozygous,Box Two
757,8,030049,IPFJES,Box 3,F9,030049,2018-08-07,10:15 AM,30049,443.76,4.4376,11.267352,38.732648,030049-,Heterozygous,Box Three
758,8,160028,IPFJES,Poor Quality Box One,D3,160028-1,2018-08-23,10:37 AM,160028-1,12.63,0.1263,395.882819,-345.882819,160028-1,Heterozygous,Poor Quality Box One
759,8,070027,IPFJES,Poor Quality Box Three,F6,070027-,2019-05-24,2:21 PM,70027,29.04,0.2904,172.176309,-122.176309,070027-,Heterozygous,Poor Quality Box Three

In [73]:
# save the result
df8.to_csv('ipfjes_samples_to_be_plated.csv')